body {
  background: rgb(247, 247, 196);
}

h1 {
  text-align: center;
}

footer {
  text-align: center;
}

footer a {
  margin: 0 10px;
}

img {
  max-width: 75%;
  border-radius: 10px;
  margin: 30px auto;
  display: block;
}
